
.row {
    margin-left: 5px;
}

.dayCard {
    margin-left: 10px;
    margin-right: 10px;
    background-color: blue;
    color: white;
}

.uvFav {
    background-color: green;
}

.uvMod {
    background-color: orange
} 

.uvSev {
    background-color: red
}

.historyBtn {
    display: list-item;
}
 
/* .fa-search-location {
    background-color: purple;
} */